#mapIoConto {
  position: relative;
  width: 100%;
  height: 85%;
}

.legend-toggle i {
  transition: all 0.2s ease-in-out;
}

.legend {
  transition: all 0.2s ease-in-out;
  font-size: 1.2em;
}

.legend .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle-red {
  background-color: red;
}

.circle-yellow {
  background-color: yellow;
}

.circle-green {
  background-color: green;
}

.center-control a i {
  font-size: 20px;
}

.storage-control a i {
  font-size: 20px;
}

.storage-control a,
.center-control a {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.navbar-nav {
  position: relative;
}
.navbar-nav {
  top: 100%;
  z-index: 10;
  position: absolute;
  right: 0;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  overflow-y: scroll;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 50vh;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
