/* The following block can be included in a custom.scss */

$body-bg: #282c34;
$body-color: white;
$font-size-base: 20;

/* make the customizations */
$theme-colors: (
        "background-color": red,
        "primary": tomato,
        "danger": teal
);

.container {
  height: 100vh;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";